:global{
  .lt-label__wrapper {
    padding: 4px 16px;
    border-radius: 4px;
    font-size: 14px;
    user-select: none;
    transition: box-shadow 0.5s;
    &:hover {
      box-shadow: 3px 3px 5px 0 rgb(192, 192, 192);
    }
  }
  .lt-label__section {
    border-top: 1px solid #EAEAEA;
    padding: 10px 20px;
  }
  .lt-label__list {
    display: flex;
  }
  .lt-label__list-item {
    display: block;
    margin-right: 20px;
  }
}
