@import '../../assets/styles/size.less';
@import '../../assets/styles/colors.less';

.container {
  display: block;
}

.title {
  margin-top: 60px;
  white-space: nowrap;
}
.sub-title {
  font-weight: normal;
  white-space: nowrap;
  color: #EAEAEA;
}

.body {
  padding: 0 50px 80px;

  .blog-item {
    display: block;
    margin: 30px;
    background: white;
    border-radius: 10px;
    box-shadow: 2px 2px 5px 0 @color--box-shadow;
  }
  
  .blog-article {
    padding: 20px;
  }

  .blog-title {
    position: relative;
    display: inline-block;
    font-size: 30px;
    margin: 0.5em 0;
    font-weight: normal;
    color: @color--blue;

    &::after {
      content: ' ';
      display: block;
      position: absolute;
      left: -5px;
      right: -5px;
      height: 2px;
      background: @color--blue;
      transform: scaleX(0);
      transition: transform 0.5s;
    }

    &:hover::after {
      transform: scaleX(1);
    }
  }

  .blog-time {
    display: block;
    color: @color--grey;
    font-size: 14px;
  }
  .blog-abstract {
    color: @color--dark;
    line-height: 1.5;
    text-indent: 2em;
  }
}