@import '../../assets/styles/size.less';
@import '../../assets/styles/colors.less';

.article {
  font-size: 16px;
  width: 740px;
  margin: 0 auto;
  background: white;
  padding: 40px 30px;
  border-radius: 8px;
  box-shadow: 0 0 20px 0 @color--box-shadow;
  transition: transform 0.5s;

  &.loaded {
    transform: translateY(-150px);
  }
}

.header {
  margin-bottom: 1em;

  & > .title {
    font-size: 34px;
    margin: 0 0 0.5em;
  }
  & > .time {
    display: block;
    color: @color--grey;
  }
}

.body {
  margin-bottom: 60px;
}
