@import './colors.less';
@import './size.less';
// colors https://coolors.co/28262c-6aa1c9-c7e6fc-f9feff-2f407f
:global(.global__header) {
  box-sizing: border-box;
  height: @top-nav-height;
  padding: @top-bar-height 0 0 30px;
  background: @color--blue;
  color: @color--white;
  box-shadow: 5px 0 10px 0 @color--blue;
}
:global(.main__container) {
  flex: 1;
  min-height: 100vh;
  width: @body-width;
  margin: 0 auto;
  background: @color--light-grey;
  padding-left: @left-nav-width;
}

:global(#root) {
  position: relative;
  display: flex;
  color: @color--dark;
}

html {
  &::-webkit-scrollbar {
    appearance: none;
    height: 8px;
    width: 8px;
  }
  &::-webkit-scrollbar-thumb {
    background-color: @color--border-grey;
    border: 1px solid @color--white;
    border-radius: 10px;
  }
}
p {
  margin: 0;
}
ul {
  padding: 0;
  margin: 0;
}
a {
  text-decoration: none;
}
// 
:global(.db) {
  display: block;
}