// colors https://coolors.co/28262c-6aa1c9-c7e6fc-f9feff-2f407f
:global(.main__container) {
  flex: 1;
  height: 100vh;
  width: 990px;
  margin: 0 auto;
  background: #F6F6F6;
}

:global(#root) {
  position: relative;
  display: flex;
  color: #28262C;
}

p {
  margin: 0;
}
ul {
  padding: 0;
  margin: 0;
}
a {
  text-decoration: none;
}
// 
:global(.db) {
  display: block;
}