// colors https://coolors.co/28262c-6aa1c9-c7e6fc-f9feff-2f407f
:global(.main__container) {
  width: 990px;
  margin: 0 auto;
}

:global(#root) {
  display: flex;
  color: #28262C;
}

p {
  margin: 0;
}
ul {
  padding: 0;
  margin: 0;
}

// 
:global(.db) {
  display: block;
}